<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規ポートフォリオ</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/chart.css">
</head>
<body>
    画像選ぶ<br>
    投稿選ぶ<br>
    色選ぶ<br>
    円グラフ
    <input type="color" value="#ffffff">
    <button id="button">決定</button>
    <form action="/makeportfolio" enctype="multipart/form-data" method="post">
        <button type="submit" id="portfolio">ポートフォリオをつくる！</button>
    </form>
</body>
</html>