<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規投稿</title>
    <link rel="stylesheet" href="/css/post.css" type="text/css">
</head>
<body>
    <div class="main-view">
    <form action="/newpost" enctype="multipart/form-data" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div class="drag-drop-info">
            <label for="image">写真</label>
            <input type="file" name="upload_photo" id="image" required>
            <p id="error-message" style="color: red; display: none;">写真を添付してください。</p>
        </div>
        <div class="input-text">
            <input id="genre" type="text" name="genre" placeholder="#" required>
        </div>
        <div class="input-text">
            <textarea name="content" placeholder="投稿しよう"></textarea>
        </div>
        <br>
        <button type="submit" id="share" class="btn">シェアする</button>
    </form>
    </div>
    <a href="/timeline">もどる</a>
</body>

<script>
  function validateForm() {
  const fileInput = document.getElementById("image");
  const errorMessage = document.getElementById("error-message");

  if (!fileInput.files.length) { // ファイルが選択されているか確認
    errorMessage.style.display = "block";
    return false; // 送信をキャンセル
  }

  errorMessage.style.display = "none";
  return true; // 送信許可
}
</script>

</html>
