<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規投稿</title>
</head>
<body>
    <form action="/newpost" enctype="multipart/form-data" method="post">
        <div>
            <label for="image">写真</label>
            <input id="file-input" type="file" multiple name="upload_photo" accept="image/*"></input>
        </div>
        <div>
            <input id="category" type="text" name="category" placeholder="#" required>
        </div>
        <div>
            <textarea name="content" placeholder="投稿しよう"></textarea>
        </div>
        <button type="submit" id="share">シェアする</button>
    </form>
</body>
</html>