<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タイムライン</title>
    <link rel="stylesheet" href="/css/post.css" type="text/css">
</head>
<body>
  <form action="/mypage/<% session[:user] %>" method="post">
    <button class="logout-btn">マイページへ</button>
  </form> 
  <div class="main-view">
    <%# 投稿がない時 %>
    <% if @posts.empty? %>
      <p class="post-empty-text">新規投稿から写真を投稿しよう！</p>
    <%# 投稿がある時 %>
    <% else %>
      <% @posts.each do |post| %>
        <div class="post">
          <div class="post-header">
            <div class="post-header-data">
              <!-- ユーザー名を表示 -->
              <p class="post-user-name"><%= post.user_name %></p>
            </div>
          </div>
          <img src="<%= post.image_url %>" alt="投稿画像" class="post-img">
          <div class="post-content">
            <!-- 本文を表示 -->
            <p class="post-content"><%= post.content %></p>
            <!-- 投稿された時間 -->
            <p class="post-date-small"><%= post.updated_at.strftime("%Y/%m/%d") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
 <a href="/newpost">投稿</a> 

</body>
</html>
